:root {
	--primary-color: #f2e7d5;
	--dark-color: #282828;
	--accent-color: #8000ff;
}

* {
	box-sizing: border-box;
	margin: 0;
}

body {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Spectral', serif;
    font-weight: 500;
	-webkit-font-smoothing: antialiased;
	background: var(--primary-color);
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

h1,
h2,
h3,
h4 {
    font-family: 'Spectral', serif;
	color: var(--dark-color);
    font-style: normal;
}

h2 {
    line-height: 2rem;
    columns: var(--primary-color);
    margin-bottom: 2rem;
}

h2 i {
    background-color: var(--accent-color);
    color: white;
    padding: 4px;
    line-height: 2.5rem;
}

h3 {
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
p::selection,
a::selection {
    background: var(--dark-color);
    color: var(--primary-color);
}

a {
	color: #fff;
	text-decoration: none;
}

a:focus {
    outline: none;
}

p {
    color: var(--primary-color);
	margin: 0.5rem 0;
    font-size: 1.3rem;
}

img {
    border-radius: 1rem 1rem 0 0 ;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-color);
    list-style-type: none;
    margin: 0;
    padding: 2rem 2.5rem;
    border-radius: 0 0 1rem 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

li a{
    color: var(--primary-color);
    text-transform: lowercase;
}

li i {
    font-size: 2rem;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

hr{
    border-top: 3px solid var(--dark-color);
}

footer {
    display: flex;
    justify-content: space-between;
}